@mixin radius($size...){
    border-radius: $size;
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
}

@mixin shadow($shadow...){
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin animation($value...) {
    -webkit-box-animation: $value;
    -moz-box-animation: $value;
    animation: $value;
}

@mixin flexing-row(){
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;;
}
