@mixin radius($size...){
    border-radius: $size;
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
}

@mixin shadow($shadow...){
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin animation($value...) {
    -webkit-box-animation: $value;
    -moz-box-animation: $value;
    animation: $value;
}

$color-stripe-1: #9679ff;	//purple
$color-stripe-2: #d499ea; //blue
$color-stripe-3: #eea4b3; //pink
